//VARIABLES
//COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-darkJungleGreen: #1e1e1e;
$color-resolutionBlue: #384575;
$color-screaminGreen: #53fa7b;
$color-magenta: #ec71b8;
$color-anakiwa: #8be9fd;
$color-gray: #848181;
$color-gray-light: #cccccc;
$color-mindaro: #ecf589;
$color-red: #c03737;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-vertical-extra-small: 0rem;
$gutter-horizontal: 1rem;

//FONTS
$sourceCode-medium: SourceCodePro-medium;
$sourceCode-black: SourceCodePro-Black;
$sourceCode-bold: SourceCodePro-semiBold;
