//ANIMATED
.animate-me-1{
     animation: colorPulse 5s ease-in-out;
     animation-iteration-count: infinite;
}
.animate-me-2{
     animation: colorPulse 10s ease-in-out;
     animation-iteration-count: infinite;
}
.animate-me-3{
     animation: colorPulse 15s ease-in-out;
     animation-iteration-count: infinite;
}
.animate-me-4{
     animation: colorPulse 20s ease-in-out;
     animation-iteration-count: infinite;
}
.dark{
     .animate-me-1{
          animation: colorPulseDark 5s ease-in-out;
          animation-iteration-count: infinite;
     }
     .animate-me-2{
          animation: colorPulseDark 10s ease-in-out;
          animation-iteration-count: infinite;
     }
     .animate-me-3{
          animation: colorPulseDark 15s ease-in-out;
          animation-iteration-count: infinite;
     }
     .animate-me-4{
          animation: colorPulseDark 20s ease-in-out;
          animation-iteration-count: infinite;
     }   
}
