.dark {
  background-color: $color-darkJungleGreen;
  .navigation {
    background-color: $color-darkJungleGreen;
    &__icons {
      &--link {
        &--figure {
          &:hover &-image {
            filter: blur(3px) brightness(200%);
          }
          &-caption {
            color: $color-mindaro;
            text-shadow: $color-gray 0 0 1rem;
          }
        }
      }
    }
  }
  .header {
    &__left {
      &--code {
        color: $color-anakiwa;
      }
      &--head {
        color: $color-mindaro;
      }
    }
  }
  .article {
    &__description {
      &--paragraph {
        color: $color-mindaro;
      }
    }
  }
  .skills {
    &__paragraph {
      color: $color-mindaro;
    }
  }
  .projects {
    &__element {
      box-shadow: $color-white 0 0 0.2rem;
      &:hover {
        box-shadow: $color-mindaro 0rem 0rem 0.7rem;
      }
    }
    &__view-more{
      color: $color-mindaro;
      &:hover{
        color: $color-white;
      }
    }
  }

  .button-link {
    &:hover {
      background-color: $color-darkJungleGreen;
      color: $color-magenta;
      box-shadow: $color-gray 0 0 1rem;
      letter-spacing: 0.1rem;
      padding: 0.2rem 0.8rem;
      font-weight: bold;
    }
  }
  .active {
    border-bottom: 0.4rem solid $color-mindaro;
  }
}
