// HEADER
.header {
  display: flex;
  flex-direction: row;
  &__left {
    flex: 55% 0 1;
    &--code {
      font-family: $sourceCode-medium, Courier, monospace;
      font-size: 9rem;
      margin-top: 5rem;
      color: rgba($color-gray, 0.8);
    }
    &--head {
      margin: 3rem 0 3rem 2rem;
      font-family: "Germania One", cursive;
      font-size: 3.7rem;
      line-height: 1.5;
      margin-left: 4rem;
      letter-spacing: 0.7rem;
    }
    &--social {
      &--icon {
        height: 5rem;
        width: 5rem;
        margin: 0 0 10rem 4rem;
        transform: scale(1);
        transition: transform 0.3s ease-out;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
  &__right {
    margin-right: 3rem;
    &--r-logo {
      height: 33rem;
      transform: rotate(37deg);
      padding-right: 4rem;
      margin-top: 7rem;
      backface-visibility: hidden;
      overflow: hidden;
      &:hover{
        animation: hueRotate 5s ease-in-out;
        animation-iteration-count: infinite;
      }
    }
  }
}
.down-error {
  display: block;
  margin: 0 auto;
  height: 2rem;
  margin-bottom: 1rem;
  opacity: 1;
  transition: opacity .5s ease-in;
}
.vanish{
  opacity: 0;
}
