//ANIMATIONS
@keyframes colorPulse {
  0% {
    color: black;
  }
  50% {
    color: $color-resolutionBlue;
  }
  100% {
    color: black;
  }
}
@keyframes colorPulseDark {
  0% {
    color: $color-mindaro;
  }
  50% {
    color: $color-magenta;
  }
  100% {
    color: $color-mindaro;
  }
}
