// BASE

// acts as my own normalize.css :
@font-face {
  font-family: "SourceCodePro-medium";
  src: url("../../fonts/SourceCodePro-Medium.otf");
  font-family: "SourceCodePro-Black";
  src: url("../../fonts/SourceCodePro-Black.otf");
  font-family: "SourceCodePro-semiBold";
  src: url("../../fonts/SourceCodePro-Semibold.otf");
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: sans-serif;
}

html {
  //set 1 rem base value
  font-size: 62.5%; // 1rem= 10px; 10px/16px= 62.5%
  @include respond(tab-land) {
    font-size: 56.25%; //1rem= 9px;
  }
  @include respond(tab-port) {
    font-size: 50%; //1rem= 8px;
  }
  @include respond(big-desk) {
    font-size: 120%; //1rem= 12px;
  }
}

body {
  width: 100%;
  padding: 2rem;
  @include respond(tab-port) {
    padding: 0;
  }
  font-family: sans-serif;
  box-sizing: border-box;
  color: $color-black;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  font: inherit;
  font-weight: bold;
}
::selection {
  background-color: var(--color-silver);
  color: $color-black;
}
