// utilities as a small toolbox sass file for quick fixes

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
  @include respond(tab-port) {
    margin-bottom: 2rem;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
  @include respond(tab-port) {
    margin-bottom: 4rem;
  }
}

.u-margin-top-small {
  margin-top: 2rem;
  @include respond(tab-port) {
    margin-top: 1rem;
  }
}
.u-margin-top-tiny {
  margin-top: 0.5rem;
  @include respond(tab-port) {
    margin-top: 0.2rem;
  }
}
.u-padding-right-medium {
  padding-right: 4rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
  @include respond(tab-port) {
    margin-top: 2rem;
  }
}

.u-margin-top-big {
  margin-top: 12rem;
  @include respond(tab-port) {
    margin-top: 6rem;
  }
}

.u-color-change1 {
  color: $color-resolutionBlue;
}
.u-paragraph {
  font-family: $sourceCode-medium, Courier, monospace;
  font-size: 2rem;
  line-height: 2;
  letter-spacing: 0.07rem;
}
.u-article-header {
  font-family: "Germania One", cursive;
  font-size: 3rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  margin: 3rem 0 4rem 4rem;
}

.u-inline-me{
  display: inline;
  margin-right: 1rem;
  text-decoration: underline;
}
.u-small-circle{
  height: 1rem;
}