//MY WORK
.projects {
  &__element {
    height: 25rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 1rem;
    transition: all 0.2s ease;
    backface-visibility: hidden;
    box-shadow: $color-darkJungleGreen 0 0 0.2rem;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $color-black;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 10;
    }
    &:hover {
      border: none !important;
      box-shadow: $color-resolutionBlue 0rem 0rem 2rem;
      transform: translateY(-4%) scale(1.01);
      border: none;
    }
    &:hover::after {
      cursor: pointer;
      opacity: 0.7;
    }
    &--img {
      border-radius: 1rem;

      height: 100%;
      transition: all 0.2s ease-out;
    }
    &:hover &--img {
      transform: scale(1.4);
    }
    &--description {
      position: absolute;
      top: 35%;
      opacity: 0;
      text-align: center;
      transform: scale(6);
      color: $color-white;
      backface-visibility: hidden;
      font-size: 1.7rem;
      line-height: 1.5;
      z-index: 20;
      transition: all 0.2s ease-in;
      cursor: pointer;
      p {
        font-size: 1.4rem;
        margin-top: 5rem;
        background-color: $color-black;
        color: $color-gray-light;
        text-shadow: none !important;
        line-height: 2;
        padding: 1.1rem 1rem;
        text-transform: capitalize;
      }
    }
    &:hover &--description {
      opacity: 1;
      transform: scale(1);
      text-shadow: $color-white 0 0 2rem;
    }
    &--trainer {
      transition: all 0.2s ease;
      &:hover {
        color: $color-magenta;
        box-shadow: $color-white 0 0 1rem;
      }
    }
  }
  &__view-more {
    font-size: 2rem;
    color: $color-resolutionBlue;
    text-decoration: underline;
    transition: all 0.3s ease-out;
    text-align: center;
    &:hover {
      letter-spacing: 0.3rem;
      cursor: pointer;
      color: $color-black;
    }
  }
}
#secondRow,
#thirdRow {
  visibility: hidden;
  opacity: 0;
  display: none;
}
#secondRow.fadeIn,
#thirdRow.fadeIn {
  visibility: visible;
  opacity: 1;
  display: inherit;
}
